﻿<style>
    
div.backBtn {
    width: 100px;
    left: 105px;
    top: 130px;
    background-color: #f4f4f4;
    transition: all 0.4s ease;
    position: absolute;
    cursor: pointer;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

span.line {
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
    background-color: #3e1471;
    width: 100%;
    left: 0px;
    height: 2px;
    display: block;
    position: absolute;
    transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
}

span.tLine {
    top: 0px;
}

span.mLine {
    top: 13px;
    opacity: 0;
}

span.bLine {
    top: 26px;
}

.label {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 1em;
}

div.backBtn:hover span.label {
    left: 25px
}

    div.backBtn:hover span.line {
        left: -10px;
        height: 5px;
        background-color: #3e1471;
    }

div.backBtn:hover span.tLine {
    width: 25px;
    transform: rotate(-45deg);
    left: -15px;
    top: 6px;
}

div.backBtn:hover span.mLine {
    opacity: 1;
    width: 30px;
}

div.backBtn:hover span.bLine {
    width: 25px;
    transform: rotate(45deg);
    left: -15px;
    top: 20px;

</style>

<div class="backBtn">
    <span class="line tLine"></span>
    <span class="line mLine"></span>
    <span class="label">
        <a onclick="goBack()">Go Back</a>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </span>
    <span class="line bLine"></span>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

