﻿
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-container">
                <h1><span class="turquoise">Welcome to</span><br />Insight Hub</h1>
                <p class="p-large">Insight Hub connects the world of tech buyers with insights, intent and engagement. Insight Hub is the world's largest media, data and marketing services company that activates and engages the most influential technology buyers.</p>
                <a class="btn-solid-lg page-scroll" style="margin-inline: 195px;" href="~/AnonymousReport/GetAllReports">DISCOVER</a>
            </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <div class="image-container">
                <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">
            </div> <!-- end of image-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->
<!-- end of header -->
