﻿@model IEnumerable<InsightHub.Web.Models.ReportViewModel>

@{
    var latestReports = ViewData["LatestReports"] as IEnumerable<InsightHub.Web.Models.ReportViewModel>;
}

<style>
    .img {
        max-width: 200px;
    }
</style>

<!-- Latest Reports -->
<div id="new">
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Latest reports</h5>
                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                @foreach (var item in latestReports)
                                {
                                    <div class="swiper-slide">
                                        <div class="image-container">
                                            <a href="~/AnonymousReport/Details/@item.Id"><img class="img-responsive" src="~/images/Latest Reports/REPORT.gif" style="max-width:200px" ;>@item.Name</a>
                                        </div>
                                    </div>
                                }
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
</div>
<!-- end of customers -->
