﻿<style>
    #carousel-wrapper {
        position: absolute;
        left: 50%;
        perspective: 900px;
    }

    #left, #right {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    #left {
        margin-left: -400px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-top-width: 25px;
        border-bottom-width: 25px;
        border-right: 40px solid black;
    }

    #right {
        margin-left: 400px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-bottom-width: 25px;
        border-top-width: 25px;
        border-left: 40px solid black;
    }

    #carousel_reports {
        transform-origin: center center -450px;
        transform-style: preserve-3d;
        transition: all 1s;
    }

    .imgBlock {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
        width: 300px;
        height: 200px;
        transform-style: preserve-3d;
        transform-origin: center center;
        z-index: 2;
    }

        .imgBlock:hover .fa-heart {
            opacity: 1;
            visibility: visible;
        }

    .img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    .heartBlock {
        position: absolute;
        bottom: 30px;
        right: 30px;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    .fa-heart {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        color: white;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
    }

    .fas {
        opacity: 1;
        visibility: visible;
    }

    .imgBlock:nth-of-type(1) {
        transform: translate3d(0, 0, 0px) rotateY(0deg);
    }

    .imgBlock:nth-of-type(2) {
        transform: translate3d(320px, 0, -130px) rotateY(45deg);
    }

    .imgBlock:nth-of-type(3) {
        transform: translate3d(450px, 0, -450px) rotateY(90deg);
    }

    .imgBlock:nth-of-type(4) {
        transform: translate3d(320px, 0, -770px) rotateY(135deg);
    }

    .imgBlock:nth-of-type(5) {
        transform: translate3d(0, 0, -900px) rotateY(180deg);
    }

    .imgBlock:nth-of-type(6) {
        transform: translate3d(-320px, 0, -770px) rotateY(225deg);
    }

    .imgBlock:nth-of-type(7) {
        transform: translate3d(-450px, 0, -450px) rotateY(270deg);
    }

    .imgBlock:nth-of-type(8) {
        transform: translate3d(-320px, 0, -130px) rotateY(315deg);
    }

    #newreports {
        margin-top: 150px;
    }
</style>
<a href="page.html"><img src="img.png"></a>
<div container id="newreports">
    <div id="left"></div>
    <div id="carousel-wrapper">
        <div id="carousel_reports">
            <div class="imgBlock">
                    <div id="div1"></div><img src="images/Telerik_Academy_Logo2x-696x184.png" alt="" class="img">
                    <div class="heartBlock">
                        <i class="far fa-heart"></i>
                        <i id="like1" class="far fa-heart"></i> 
                    </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1495013034289-3664878e32f8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a59bb246db37ed02ef1b9d37a59a47d1&auto=format&fit=crop&w=783&q=80" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like2" class="far fa-heart"></i>
                </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1532578498858-e21a39e0a449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9afff174f75254025fb41fd75f335987&auto=format&fit=crop&w=750&q=80" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like3" class="far fa-heart"></i>
                </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1532988633349-d3dfb28ee834?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27db7bd25fb02721c56f744d6bce008c&auto=format&fit=crop&w=334&q=80" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like4" class="far fa-heart"></i>
                </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1513629566484-4a2af9323629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35969d7da4c7733e5825bb289c26b550&auto=format&fit=crop&w=893&q=80" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like5" class="far fa-heart"></i>
                </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1530484567812-2d5a2d82268c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0d99e86330c5a23dbb0e28af717bf15&auto=format&fit=crop&w=750&q=80" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like6" class="far fa-heart"></i>
                </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1531163953594-bc9a034fafb1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7871bcd85a128e3983f3844e44362f28&auto=format&fit=crop&w=1534&q=80" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like7" class="far fa-heart"></i>
                </div>
            </div>
            <div class="imgBlock">
                <img src="https://images.unsplash.com/photo-1533666647963-b6a1eb63c55d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71630fba12554cedb2cfa6fe237a5d83&auto=format&fit=crop&w=500&q=60" alt="" class="img">
                <div class="heartBlock">
                    <i class="far fa-heart"></i>
                    <i id="like8" class="far fa-heart"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="right"></div>
</div>

<script>
    var d = document,
        left = d.getElementById("left"),
        right = d.getElementById("right"),
        carousel_reports = d.getElementById("carousel_reports"),
        heart = d.getElementsByClassName("fa-heart"),
        deg = 0;
    left.addEventListener("click", function () {
        deg += 45;
        carousel_reports.style.transform = "rotateY(" + deg + "deg)";
    });
    right.addEventListener("click", function () {
        deg -= 45;
        carousel_reports.style.transform = "rotateY(" + deg + "deg)";
    });
    for (var i = 0; i < heart.length; i++) {
        heart[i].addEventListener("click", function () {
            if (this.classList.contains("far")) {
                this.classList.add("fas");
                this.classList.remove("far");
            }
            else {
                this.classList.add("far");
                this.classList.remove("fas");
            }
        });
    }
</script>