﻿@model InsightHub.Web.Models.BanViewModel

<h4>Ban</h4>
<hr />

<div id="register" class="form-1" style="background-image: url(/images/ban.jpg); background-position:center; background-repeat:no-repeat; background-position-x: revert;">
    <div class="container">
        <div class="row" style="margin-left: 310px;">
            <div class="col-lg-9">
                <form asp-action="BanUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Name" class="form-control-input">
                        <label class="label-control" asp-for="Name">Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Description" class="form-control-input">
                        <label class="label-control" asp-for="Description">Reason</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label>Expires On</label>
                        <input asp-for="ExpiresOn" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                        <span asp-validation-for="ExpiresOn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" style="margin-left:180px;" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_GoBack" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



