﻿@model IEnumerable<InsightHub.Web.Models.UserViewModel>

    <style>
        .table tr {
            cursor: pointer;
        }

        .hiddenRow {
            padding: 0 4px !important;
            background-color: #eeeeee;
            font-size: 13px;
        }

        #table {
            pointer-events: none;
        }
    </style>

<div class="container" style="display:contents">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="search" data-toolbar="#toolbar" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th id="table">Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#search").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once

            "ajax": {
                "url": "/Search/LoadApprovedUsers",
                "type": "POST",
                "dataSrc": "data"
            },
            "columnDef": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [

                { "data": "id", "name": "id", "autoWidth": true },
                { "data": "name", "name": "name", "autoWidth": true },

                {
                    data: "isBanned",
                    render: function (data, type, full, meta) {
                        {
                            if
                                (data == true) {
                                {
                                    return '<a class="btn btn-success" href="/AdminUser/UnbanUserConfirm/' + full.id + '"><i class="fas fa-lock-open">Unban</a>';
                                }
                            }
                            else {
                                return '<a class="btn btn-danger" href="/AdminUser/BanUser/' + full.id + '"><i class="fas fa-user-lock">Ban</a>';
                            }
                        }
                    }
                },
            ]
        });
    });
</script>
<partial name="_GoBack" />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

 