﻿@model IEnumerable<InsightHub.Web.Models.ReportViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager﻿
@using Microsoft.AspNetCore.Identity

<style>
    .table tr {
        cursor: pointer;
    }

    .hiddenRow {
        padding: 0 4px !important;
        background-color: #eeeeee;
        font-size: 13px;
    }

    #table {
        pointer-events: none;
    }
</style>

<div class="container" style="display:contents">
    <br />
    <div style="width: 90%; margin: 0 auto;">
        <table id="search" data-toolbar="#toolbar" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th id="table">Img</th>
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Author</th>
                    <th>Industry</th>
                    <th>Upload date</th>
                    <th>Downloads count</th>
                    <th id="table">Tags</th>
                    <th id="table">Details</th>
                    @if (User.IsInRole("Customer"))
                    {
                        <th id="table">Download</th>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <th id="table">Edit</th>
                        <th id="table">Delete</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#search").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once

            "ajax": {
                "url": "/Search/LoadReports",
                "type": "POST",
                "dataSrc": "data"
            },
            "columnDef": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [

                { "data": "id", "name": "id", "industryName": "industry", "autoWidth": true },

                  {
                    data: null,
                      render: function (data, type, full, meta) {
                          { return '<img src="/images/Industries/' + full.industryName + '.jpg' + '" width="250" height="200"/></td>'; }

                      }
                },

                { "data": "name", "name": "name", "autoWidth": true },
                { "data": "summary", "name": "summary", "autoWidth": true },
                { "data": "authorName", "name": "authorName", "autoWidth": true },
                { "data": "industryName", "name": "industryName", "autoWidth": true },
                { "data": "uploadedOn", "name": "uploadedOn", "autoWidth": true },
                { "data": "downloadsCnt", "name": "downloadsCnt", "autoWidth": true },
                { "data": "tagNames", "name": "tagNames", "autoWidth": true },

                    {
                    data: null,
                        render: function (data, type, full, meta) {
                            { return '<a class="btn btn-warning" href="/AnonymousReport/Details/' + full.id + '"><i class="fas fa-info-circle">See more</a>'; }
                        }
                    },

                  @if(User.IsInRole("Customer"))
                  {
                   <text>
                      {
                       data: null,
                       render: function (data, type, full, meta) {
                           { return '<a class="btn btn-warning" href="/CustomerReport/DownloadReport/' + full.id + '"download><i class="fa fa-download">Download</a>'; }
                       }
                    },
                   </text>
                  }


                 @if (User.IsInRole("Admin"))
                  {
                   <text>
                         {
                    data: null,
                        render: function (data, type, full, meta) {
                            {  return '<a class="btn btn-success" href="/Common/UpdateReport/' + full.id + '"><i class="fas fa-user-check">Edit</a>'; }
                        }
                    },
                        {
                       data: null,
                            render: function (data, type, full, meta) {
                               { return '<a class="btn btn-danger" href="/AdminReport/Delete/' + full.id + '"><i class="fa fa-delete alt">Delete</a>'; }
                       }
                    },

                   </text>
                     }
            ]
        });
    });
</script>

<partial name="_GoBack" />