﻿@model InsightHub.Web.Models.TagViewModel

@{
    ViewData["Title"] = "UpdateTag";
}

<h1>Update Tag</h1>
<hr />

<div id="register" class="form-1" style="background-image: url(/images/hashtags.jpg);">
    <div class="container">
        <div class="row" style="margin-left:310px;">
            <div class="col-lg-9">
                <form asp-action="UpdateTag">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Update tag" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" style="margin-left:180px;" class="btn btn-warning btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<partial name="_GoBack" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

